{% if visitor.nick %}
<span class="title">{{ visitor.nick }}</span>
{% if visitor.full_name %}
<small class="personal-info">({{ visitor.full_name }})</small>
{% endif %}
{% else %}
<span class="title personal-info">{{ visitor.full_name }}</span>
{% endif %}
