{% extends "base.html.j2" %}

{% block styles %}
<style>
.actions a:hover {
    text-decoration: none;
}
.title {
    font-size: 1.5em;
    margin: 0.25em 0 1em;
}

.opening header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visit .mark-finished,
.visit .mark-paused,
.visit.started .mark-started {
    display: none;
}
.visit.started .mark-paused,
.visit.started .mark-finished {
    display: initial;
}

.visit input {
    height: initial;
    width: 4em;
    border: 1px solid gray;
    font-size: 0.9em;
}

.visit .logs {
    font-size: 0.8em;
    color: gray;
}

.visit .mark-now .material-icons {
    font-size: 1.3em;
}

@media screen and (min-width: 601px) {
    .auto-start-streams-field {
        padding-top: 2em;
    }
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ date | arrow('format', 'D MMM YYYY') }}</h1>
</div>

{% for (opening, start_offset, end_offset) in openings %}
<div class="container widget opening" data-opening="{{ opening.id }}">
    <header>
        <div class="title">
            {{ opening.start | arrow('format', 'HH:mm') }}
            <sup>{{ start_offset }}</sup>
            <span>&#8212;</span>
            {{ opening.end | arrow('format', 'HH:mm') }}
            <sup>{{ end_offset }}</sup>
            <span class="badge">{{ opening.scope }}</span>
        </div>
        <div class="actions">
            <a class="btn waves-effect waves-light red" href="{{ url_for('.opening_delete', id=opening.id) }}">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="input-field col s10">
                <label>Ajouter un visiteur</label>
                <input type="text" class="autocomplete visitors-input personal-info" name="add-visitor-text">
            </div>
            <div class="input-field col s2">
                <button class="btn waves-effect waves-light" type="submit" name="add-visitor-button">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
        <ul class="collection">
            {% for visit in opening.visits | sort(attribute='visitor') %}
            {% with visitor = visit.visitor %}
            <li
                class="
                    visit
                    collection-item
                    {% if visit.paid %}
                    paid
                    {% else %}
                    unpaid
                    {% endif %}
                    "
                data-visitor-id="{{ visitor.id }}"
            >
                {% include "_visitor_item.html.j2" %}
                <a href="{{ url_for('.visitor_edit', id=visitor.id) }}">
                    <i class="material-icons">edit</i>
                </a>
                {% if visit.finished and not visit.paid %}
                <span class="badge red">
                    Impayé
                </span>
                {% endif %}
                <span class="logs">
                </span>
                <span class="right actions">
                    <a class="pay" href="{{ url_for('.pay') }}?visitor={{ visitor.id }}&opening={{ opening.id }}">
                        <i class="material-icons">attach_money</i>
                    </a>
                    <span class="entry-actions">
                        <input
                            class="entry-time"
                            {% if visit.entry %}
                            value="{{ '%02d' % visit.entry.hour }}:{{ '%02d' % visit.entry.minute }}"
                            {% endif %}
                        >
                        <a class="mark-now">
                            <i class="material-icons">timer</i>
                        </a>
                    </span>
                    -
                    <span class="exit-actions">
                        <input
                            class="exit-time"
                            {% if visit.exit %}
                            value="{{ '%02d' % visit.exit.hour }}:{{ '%02d' % visit.exit.minute }}"
                            {% endif %}
                        >
                        <a class="mark-now">
                            <i class="material-icons">timer</i>
                        </a>
                    </span>                    <a class="delete">
                        <i class="material-icons">delete</i>
                    </a>
                </span>
            </li>
            {% endwith %}
            {% endfor %}
        </ul>
    </main>
</div>
{% endfor %}

<div class="container widget">
    <div class="title">Créer une ouverture</div>
    {% include "_form_errors.html.j2" %}
    <form action="." method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
                <input
                    type="text"
                    name="{{ form.start_date.name }}"
                    id="{{ form.start_date.id }}"
                    class="datepicker"
                    value="{{ form.start_date.data }}"
                    disabled="disabled"
                >
                {{ form.start_date.label }}
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">access_time</i>
                <input
                    type="text"
                    name="{{ form.start_time.name }}"
                    id="{{ form.start_time.id }}"
                    class="timepicker"
                    value="{{ form.start_time.data or '16:00'}}"
                >
                {{ form.start_time.label }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
                <input
                    type="text"
                    name="{{ form.end_date.name }}"
                    id="{{ form.end_date.id }}"
                    class="datepicker"
                    value="{{ form.end_date.data }}"
                >
                {{ form.end_date.label }}
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">access_time</i>
                <input
                    type="text"
                    name="{{ form.end_time.name }}"
                    id="{{ form.end_time.id }}"
                    class="timepicker"
                    value="{{ form.end_time.data or '22:00' }}"
                >
                {{ form.end_time.label }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m3">
                {{ form.scope }}
                {{ form.scope.label }}
            </div>
            <div class="col s12 m6 auto-start-streams-field">
                <label>
                    {{ form.auto_start_streams }}
                    <span>{{ form.auto_start_streams.label.text }}</span>
                </label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Créer</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    {% with name='visitors', data=visitors %}
    {% include "_autocomplete.js.j2" %}
    {% endwith %}

    const end_datepicker = M.Datepicker.getInstance(document.querySelector('[name="end_date"]'));
    end_datepicker.options.setDefaultDate = true;
    end_datepicker.options.defaultDate = new Date("{{ form.start_date.data }}");
    let minDate = new Date("{{ form.start_date.data }}");
    minDate.setDate(minDate.getDate() - 1);
    end_datepicker.options.minDate = minDate;
    end_datepicker.setDate(new Date("{{ form.start_date.data }}"));

    for (const openingContainer of document.querySelectorAll('[data-opening]')) {
        const addVisitorButton = openingContainer.querySelector('[name="add-visitor-button"]');
        const input = openingContainer.querySelector('[name="add-visitor-text"]');
        const openingId = openingContainer.dataset.opening;

        addVisitorButton.addEventListener('click', async () => {
            const visitor = input.value;
            const visitorId = visitor.match(/\(#(\d+)\)$/);
            if (!visitorId)
                return;

            const result = await fetch(`/api/openings/${openingId}/visitors/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ visitor_id: visitorId[1] }),
            })
            if (!result.ok) {
                console.error('Failed to add visitor');
                return;
            }
            window.location.href = window.location.href;
        });

        for (const visitContainer of openingContainer.querySelectorAll('.visit')) {
            const visitorId = visitContainer.dataset.visitorId;
            const deleteButton = visitContainer.querySelector('.delete');
            const logsContainer = visitContainer.querySelector('.logs');

            deleteButton.addEventListener('click', async () => {
                const result = await fetch(`/api/openings/${openingId}/visitors/${visitorId}`, {
                    method: 'DELETE',
                });
                if (!result.ok) {
                    console.error('Failed to delete visitor');
                    return;
                }
                visitContainer.remove();
            });

            for (const field of ['entry', 'exit']) {
                const timeInput = visitContainer.querySelector(`.${field}-time`);
                const markNow = visitContainer.querySelector(`.${field}-actions .mark-now`);

                async function update() {
                    console.log(`Updating ${field} time for visitor ${visitorId}`);
                    const result = await fetch(`/api/openings/${openingId}/visitors/${visitorId}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ [field]: timeInput.value }),
                    });
                    if (!result.ok) {
                        console.error('Failed to update visitor');
                        logsContainer.innerHTML = '<span style="color: red;">Erreur</span>';
                    } else {
                        logsContainer.textContent = 'Enregistré';
                    }
                    setTimeout(() => {
                        logsContainer.innerHTML = '';
                    }, 2000);
                }

                markNow.addEventListener('click', async () => {
                    const now = new Date();
                    const hours = now.getHours().toString().padStart(2, '0');
                    const minutes = now.getMinutes().toString().padStart(2, '0');
                    timeInput.value = `${hours}:${minutes}`;

                    update();
                });

                timeInput.addEventListener('change', update);
                timeInput.addEventListener('blur', update);
            }
        }
    }
});
</script>
{% endblock scripts %}
