{% extends "base.html.j2" %}

{% block content %}

<div class="container">
    {% if title %}
    <h1>{{ title }}</h1>
    {% elif visitor %}
    <h1>Éditer <small>{% include "_visitor_item.html.j2" %}</small></h1>
    {% endif %}

    {% include "_form_errors.html.j2" %}

    <form method="post" action="." class="widget">
        {{ form.hidden_tag() }}
        <div class="row personal-info">
            <div class="input-field col s6">
                {{ form.first_name.label }}
                {{ form.first_name }}
            </div>
            <div class="input-field col s6">
                {{ form.last_name.label }}
                {{ form.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.nick.label }}
                {{ form.nick }}
            </div>
            <div class="input-field col s6 personal-info">
                {{ form.email.label }}
                {{ form.email }}
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Enregistrer
            <i class="material-icons right">send</i>
        </button>

        {% if visitor %}
        <a href="{{ url_for('.visitor_delete', id=visitor.id) }}" class="btn waves-effect waves-light red darken-1">Supprimer
            <i class="material-icons right">delete</i>
        </a>
        {% endif %}
    </form>
</div>
{% endblock content %}
